@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  @apply text-orange-900;
}

.card {
  min-width: 32rem;
  min-height: 24rem;
}

.button-active {
  @apply bg-amber-500 hover:bg-amber-400 text-amber-900 border-2 border-amber-900 rounded-md;
}

.button-active {
  box-shadow: -2px 2px #4f220a;
}

.button-disabled {
  @apply text-gray-800 bg-gray-600 border-2 border-gray-800 rounded-md cursor-default;
}
